.btn_c {
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.048);
  padding: 14px 18px;
  font-size: 16px;
  svg {
    width: 18px;
    height: 18px;
  }
}

.popover_ {
  padding: 8px;
  width: 320px;

  div {
    p {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 7px;
    }
  }
}
